@import '../../public/vendor/normalize.styl/normalize'

@import 'fonts'
@import 'colors'

// Mobile-First styles
body
	font-family 'Open Sans'
	background #eaeaea

@import 'responsive-tablet'
@import 'responsive-desktop'
